*foreground: white
*background: black

Xft.hinting: true
Xft.hintstyle: hintslight
Xft.antialias: true
Xft.rgba: rgb

URxvt*font: xft:SourceCodePro:size=10:antialias=true,xft:Symbola:size=10
URxvt*scrollBar: false

! Set default transparency
URxvt*depth: 32
URxvt*background: rgba:0000/0000/0200/e600
XTerm.vt100.locale: true

! Set keybindings for changing transparency
URxvt.keysym.C-9: command:\033]11;rgba:0000/0000/0200/ffff\007
URxvt.keysym.C-8: command:\033]11;rgba:0000/0000/0200/f600\007
URxvt.keysym.C-7: command:\033]11;rgba:0000/0000/0200/e600\007
URxvt.keysym.C-6: command:\033]11;rgba:0000/0000/0200/d600\007
URxvt.keysym.C-5: command:\033]11;rgba:0000/0000/0200/c600\007
URxvt.keysym.C-4: command:\033]11;rgba:0000/0000/0200/c600\007
URxvt.keysym.C-3: command:\033]11;rgba:0000/0000/0200/a600\007
URxvt.keysym.C-2: command:\033]11;rgba:0000/0000/0200/6600\007
URxvt.keysym.C-1: command:\033]11;rgba:0000/0000/0200/0000\007

! Perl extensions
URxvt.perl-ext-common: font-size

! font size
URxvt.keysym.C-equal: font-size:increase
URxvt.keysym.C-minus: font-size:decrease
URxvt.keysym.C-0: font-size:reset
